@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SentimentAnalysisDemo.Localization
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Commenting
@model SentimentAnalysisDemo.Web.Pages.IndexModel
@inject IHtmlLocalizer<SentimentAnalysisDemoResource> L

<div class="container">
    <h5 class="display-5">Comments:</h5>
    
    @await Component.InvokeAsync(typeof(CommentingViewComponent), new
    {
        entityType = "Comment",
        entityId = "SentimentAnalysisDemo",
        isReadOnly = false
    })
</div>
